<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="ranking" href="/tabs/ranking">
      <ion-icon name="trophy"></ion-icon>
      <ion-label>Ranking</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendario" href="/tabs/calendario">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Calendário</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="resultados" href="/tabs/resultados">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Resultados</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
