<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Resultados de Jogos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Resultados</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="!isLoading && !errorMessage && resultadosData.length > 0">
    <ion-list-header>
      <ion-label>Partidas Finalizadas</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let resultado of resultadosData" lines="full">
      <ion-label>
        <h2>{{ resultado.torneio }} - {{ resultado.rodada }}</h2>
        <p>Placar: **{{ resultado.placar }}**</p>
        <p>Vencedor: {{ resultado.vencedor }}</p>
      </ion-label>
      <ion-note slot="end" color="success">
        FINALIZADO
      </ion-note>
    </ion-item>
  </ion-list>

  </ion-content>
