<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Calendário de Torneios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calendário</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="!isLoading && !errorMessage && calendarioData.length > 0">
    <ion-list-header>
      <ion-label>Próximos Torneios</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let torneio of calendarioData" [detail]="true">
      <ion-label>
        <h2>{{ torneio.torneio }}</h2>
        <p>Local: {{ torneio.local }}</p>
        <p>Data: {{ torneio.data | date: 'dd/MM/yyyy' }}</p>
      </ion-label>
      <ion-note slot="end" [color]="torneio.status === 'planejado' ? 'primary' : 'success'">
        {{ torneio.status }}
      </ion-note>
    </ion-item>
  </ion-list>

  </ion-content>
